/**           П О Р Т Ф О Л И О            */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * $card-set-gap);
  margin-top: calc(-1 * $card-set-gap);
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: $card-set-gap;
  margin-top: $card-set-gap;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
