.portfolio__filter-list {
  margin-bottom: 50px;
}

.filter-list {
  @extend %flex-center;
}

.filter-list__button {
  @include trans(color, background-color, box-shadow);
  @include text(500, 16px, 1.62, 0.03em, $title-text-color);
  padding: 6px 22px;
  margin-right: 8px;
  text-align: center;
  background-color: $second-bg-color;
  border: hidden;
  border-radius: 4px;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $main-bg-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
