.footer__container {
  display: flex;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $accent-bg-color;
}

.address__item {
  @include text(400, 14px, 1.71, 0.03em, #ffffff);
  font-style: normal;
}

.address__link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.attachment {
  padding-top: 12px;
  margin-left: auto;
}

.attachment__text {
  @include text(700, 14px, 1.71, 0.03em, #ffffff);
  margin-bottom: 20px;
  text-transform: uppercase;
}
