.social-list {
  display: inline-flex;
  justify-content: space-between;
}

.social-list__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  @include trans(box-shadow, background-color, fill);
  @extend %flex-center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #ffffff;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $accent-color;
    fill: #ffffff;
  }
}

.social-list__link--fill-white {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
