.footer__subscription {
  margin-left: auto;
  padding-top: 12px;
}

.subscription__text {
  @include text(700, 14px, 1.71, 0.03em, #ffffff);
  text-transform: uppercase;
}

.subscription__form {
  margin-top: 20px;
}

.subscription__input {
  @include trans(border-color);
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
  &:focus {
    border-color: #ffffff;
    outline: none;
  }
}

.subscription__icon {
  fill: #ffffff;
  margin-left: 10px;
  vertical-align: middle;
}
